header{
    background-color: rgb(247, 247, 218);
}
nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    
}
.nclass{
    font-size: 45px;
}
span{
    color: #FD6E0A;
}
li{
    list-style: none;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.pb{
    color: #5e5a5a;
}
.About{
    color: #5e5a5a;
}
ul{
    display: flex;
    gap: 30px;
    align-items: center; 
}
.btn{
    background-color:#FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    /border-color:#FD6E0A;
    border: none;
}
.Hi{
    font-size: 45px;
    color: #5e5a5a;
}
.Md{
    font-size: 55px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner.cont{
    max-width: 580px;
    margin: 3335px;
}